*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:blue;
    padding: 20px 100px;
}
.navbar{
    background-color:black;
    padding: 10px 100px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    margin-top: 200px;
}
.nav_links ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_links ul li{
    list-style: none;
    margin: 0 10px;
    justify-content:center;
    align-items: center;
    font-size: 25px;
}
.nav_links ul li a{
    text-decoration: none;
    padding: 10px 0;
    color: white;
}
.navbar_brand{
    text-decoration: none;
    
}
.nav_bar1 a{
    font-size: 17px;
    padding: 5px 100px;
    color: white;
    align-items: end;
    background-color:blue;
    text-decoration: none;
    padding: 10px 20px;
}